{% extends 'base.html' %}

{% load crispy_forms_tags %}
<table class="table table-hover">
    <tr>
        <th>№</th>
        <th>Group</th>
        <th>Group start</th>
        <th>Lesson count</th>
        <th>L</th>
    </tr>
</table>
{% block title %}
Students list
{% endblock %}

{% block header %}
Students list
{% endblock %}

{%block content%}
<form method="get">
    {{ object_list.form | crispy }}
    <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">

</form>

<p><strong>Count of students: {{ object_list.qs.count }} </strong></p>

{% with list_objects=object_list.qs %}
    {% include 'includes/students_list_table.html' %}
{% endwith %}

{% endblock %}
