{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Groups list
{% endblock %}

{% block header %}
    Groups list
{% endblock %}


{% block content %}

<form method="get">
    {{ obj_filter.form | crispy }}
    <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
</form>

<p><strong>Count of group: {{ obj_filter.qs.count }}</strong></p>

{% with list_object=obj_filter.qs %}
    {% include 'includes/groups_list_table.html' %}
{% endwith %}
{% endblock %}
